<div class="scorecard-wrapper">
   <!-- Header Section -->
   <header class="round-header">
     <div class="course-info">
          <select #courseSelect (change)="selectedCourseId.set(courseSelect.value)">
          <option value="golf-course-nutcracker" selected>Nutcracker</option>
          <option value="golf-course-sugarbush"> SugareBush</option>
        </select>
       <h1>{{ courseName() }}</h1>
       <span class="date">{{ playDate() | date:'mediumDate' }}</span>
     </div>
      <div class="tee-selector">
      </div>
     <div class="handicap-indicator"> <!-- this will updated automatically when the tee color chagnes -->

     </div>
     <div class="actions">
       <button (click)="showTeamManager.set(!showTeamManager())">
         {{showTeamManager() ? 'Hide' : 'Manage' }} Teams
       </button>
       <button (click)="toggleMode()">
         Switch to {{ isDetailedMode() ? 'Simple' : 'Detailed' }} Mode
       </button>
       <button (click)="addingPlayer = !addingPlayer">+ Add Player</button>
       <button (click)="toggleScoreType()">displaying {{scoreType()}} score</button>
     </div>
     {{addingPlayer}}
     @if(addingPlayer){
     <div>
       <select (change)="addPlayer($event)" multiple>
       <!--  @for (player of golfCourseData().course.players; track $index; let i = $index) {
           <option value="{{ i }}">{{ player.name }}</option>
         } -->

         @for( player of playerList; track $index; let i = $index){
           <option value="{{player.name}}">{{player.name}}</option>
         }
       </select>
     </div>
     }
   </header>

  @if(showTeamManager()){
    <div class="team-manager-container">
      <app-team-manager [availablePlayers]="playerList" [(teams)]="generatedTeams"></app-team-manager>
    </div>
    <hr>
    <button (click)="loadRemoteManager()">Load team MFE </button>
    <h2>Remote Team Manager</h2>
    <div class="team-manager-container">
      @if (teamManagerRemote()) {
<ng-container
  [ngComponentOutlet]="teamManagerRemote()"
  [ngComponentOutletInputs]="{
    availablePlayers: playerList
  }">
</ng-container>
      } @else {
        <p>Loading Remote Team Manager...</p>
      }
      <hr>
   </div>
      }
<!-- loading indicator -->
   @if (isLoading()) {
     <div class="loading-container">
       <div class="spinner"></div>
       <p>Loading Course Data...</p>
     </div>
   }

  <!-- SCORECARD HEADER GRID -->
   @if(!isLoading()){
     <div class="score-grid-header">

     <!-- Row 1: Hole Numbers -->
     <div class="score-line header-row">
       <div class="stat-name">Hole</div>
       <div class="hole-names">
         @for (hole of currentTees().holeinfo; track $index; let i = $index) {
           <div class="hole-info">{{ i + 1 }}</div>
           @if(i === 8) { <div class="hole-info">Out</div> }
         }
         <div class="hole-info">Tot</div>
       </div>
     </div>

     <!-- Row 2: Tee Selector (All Available Tees) -->
     @if (golfCourseData().course) {
       <div class="score-line">
         <div class="stat-name">
           <select (change)="onTeeChange($event)">
             @for (tee of golfCourseData().course.tees; track $index; let i = $index) {
               <option [value]="i" [selected]="currentTees().color === tee.color">{{tee.color}}</option>
             }
           </select>
         </div>
         <div class="hole-names">
           @for (hole of currentTees().holeinfo; track $index; let i = $index) {
             <div class="score">{{ hole.distance }}</div>
             @if(i === 8) { <div class="score">{{ getTotalDistance(0, 9) }}</div> }
           }
           <div class="score">{{ getTeeTotalDistance(currentTees()) }}</div>
         </div>
       </div>
     }

     <!-- Row 3: Par -->
     <div class="score-line">
       <div class="stat-name">Par</div>
       <div class="hole-names">
         @for (hole of currentTees().holeinfo; track $index; let i = $index) {
           <div class="score">{{ hole.par }}</div>
           @if(i === 8) { <div class="score">{{ getTotalPar(0, 9) }}</div> }
         }
         <div class="score">{{ getTotalPar() }}</div>
       </div>
     </div>

     <!-- Row 4: Handicap -->
     <div class="score-line">
       <div class="stat-name">Handicap</div>
       <div class="hole-names">
         @for (hole of currentTees().holeinfo; track $index; let i = $index) {
           <div class="score">{{ hole.hcap }}</div>
           @if(i === 8) { <div class="score"></div> }
         }
         <div class="score"></div> <!-- No total for handicap -->
       </div>
     </div>
          <!-- PLAYERS LOOP -->
     @if(generatedTeams().length < 1 ){
   <div class="players-container">
     @for (round of rounds(); track round.id) {
       <div class="player-card">
         @if (isDetailedMode()) {
           <app-score-line [player]="round.golfer" [tees]="currentTees()" [(holes)]="round.player_score" [scoreType]="scoreType()"></app-score-line>
         } @else {
           <app-simple-score-line [player]="round.golfer" [tees]="currentTees()" [(holes)]="round.player_score" [scoreType]="scoreType()"></app-simple-score-line>
         }
       </div>
     }
   </div>
     }
   </div>

   }

<!-- let's track the team score -->
@if(scoredTeams().length > 0){
  @for(team of scoredTeams(); track team.teamId){
    <!-- Team Header Row -->
    <div class="score-line team-header">
      <div class="stat-name team-name">Team {{team.teamId}}</div>
      <div class="hole-names">
        @for (holeScore of team.score.roundScore; track $index; let i = $index) {
          <div class="score" [class.outcome-win]="holeScore.outcome === 'w'">*
            {{ holeScore.netScore < 100 ? holeScore.netScore : '-' }}
          </div>
          @if(i === 8) { <div class="score">-</div> }
        }
        <div class="score" style="border: 4px solid purple">{{ team.score.netScore }}</div>
      </div>
    </div>
    <div>
    @for(player of team.roster; track player.golfer.displayName){
      <app-simple-score-line
        [player]="player.golfer"
        [tees]="currentTees()"
        [holes]="player.player_score"
        (holesChange)="updateScore(player.id, $event)"
        [scoreType]="scoreType()"
        ></app-simple-score-line>
    }
    </div>
  }
}
   </div>

<button (click)="getRoundInfo()">debug</button>

<div style="margin-top: 20px;">
  <app-score-summary [teams]="scoredTeams()"></app-score-summary>
</div>
