<div class="score-container">
  <!-- The Score Inputs Row -->
  <div class="score-line">
    <!-- Cell 1: Player Name -->
    <div class="stat-name player-name">{{ userInfo() }}</div>

    <!-- Cells 2-19: Scores -->
    <div class="hole-names">
      @for (hole of holes(); track $index; let i = $index) {
        <div class="score" [attr.handicap]="getsAPop(i)">
          <!--
            [ngModel]: Binds the input to the data
            (input): Handles validation and updates the model
            [class]: Applies 'birdie', 'bogie', etc.
          -->
          @if( scoreType() === "gross"){
          <input type="text"
                 inputmode="numeric"
                 [class]="getScoreSymbol(i)"
                 [ngModel]="hole.totalScore"
                 (input)="validateInput($event, i)">
          }
          @if(getsAPop(i) && scoreType() === "net"){
            <span >/{{hole.netScore}}</span>
          }
        </div>

        <!-- Insert Front 9 Total after index 8 (Hole 9) -->
        @if(i === 8){
          <div class="score total-cell">
             @if(scoreType() === "gross"){
              <span class="grossScore" >{{ getTotalScore(0,9) }}</span>
             } @else {
              <span class="netScore">{{ getTotalNetScore(0,9) }}</span>
             }
          </div>
        }
      }
      <!-- The 19th Column: Calculated Total -->
      <div class="score total-cell">
        @if(scoreType() === "gross"){
        <span class="grossScore" >{{ getTotalScore() }}</span>
        } @else {
        <span class="netScore"> / {{ getTotalNetScore() }}</span>
        }
      </div>
    </div>
  </div>
</div>
